@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.parent {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 5px;
}
/* 
.topicRaw {
  display: flex;
  flex-direction: column;
}

.questionsRaw {
  display: flex;
} */

.theme {
  font-family: 'Raleway' sans-serif;
  margin: 0px;
  border-radius: 15px;
  font-size: 1.8em;
  font-weight: 900;
  padding: 20px 50px;
  text-align: center;
  background-color: rgba(95, 19, 19, 0.728);
  /* background: radial-gradient(circle at 50% 50%, #8B0A0A, #1f005c); */
  color: #fff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  /* box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 10px -6px 31px -7px rgba(194,194,194,0.26), 10px -6px 31px -7px rgba(194,194,194,0.26), 10px -6px 31px -7px rgba(194,194,194,0.26), 10px -6px 31px -7px rgba(194,194,194,0.26), 10px -6px 31px -7px rgba(194,194,194,0.26), 10px -6px 31px -7px rgba(194,194,194,0.26), 10px 12px 31px -7px rgba(194,194,194,0.26); */
}

.question {
  margin: 0px;
  border-radius: 15px;
  padding: 20px 50px;
  text-align: center;
  background-color: rgb(10, 131, 16);
  color: #fff;
  display: flex;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.question:hover {
  background-color: #fff;
  color: rgb(10, 131, 16);
}

.score {
  color: #fff;
}

p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
