.question {
  margin: 0px;
  border-radius: 15px;
  padding: 20px 50px;
  text-align: center;
  background-color: rgb(10, 131, 16);
  color: #fff;
  display: flex;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.question:hover {
  background-color: #fff;
  color: rgb(10, 131, 16);
}

.answered {
  margin: 0px;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 20px 50px;
  text-align: center;
  background-color: rgb(71, 71, 71);
  color: #fff;
  display: flex;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: appear;
  animation-duration: 300ms;
}

.modalDialog {
  width: 100%;
  max-width: 550px;
  padding: 30px 50px;
  border-radius: 30px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modalHeader {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}
